# 將請求全部重新導向public資料夾
RewriteEngine on
RewriteCond %{REQUEST_URI} !^public
RewriteRule ^(.*)$ public/$1 [L]

<IfModule mod_expires.c>
    <FilesMatch "\.(jpe?g|png|gif|js|css|svg|ttf|woff|woff2)$">
        ExpiresActive on
        ExpiresDefault "access plus 1 month"
     </FilesMatch>
</IfModule>