@charset "UTF-8";
/* 通用樣式 */

* {
    font-family: "Bellota Text", "Noto Sans TC", "微軟正黑體", sans-serif;
    color: #707179;
}

::selection {
    background: #c9b5a5;
    color: #fff;
}

::-moz-selection {
    background: #c9b5a5;
    color: #fff;
}

hr {
    background: #767691;
    opacity: 0.1;
}

.btn_outline {
    display: inline-block;
    position: relative;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 3px;
    padding: 10px 35px;
    transition-duration: 0.3s;
}

.btn_outline.white {
    color: #fff;
    border: solid 1px #fff;
}

.btn_outline.brown {
    color: #fff;
    background: #a18875;
    border: solid 1px #c9b5a5;
}

.btn_outline::before {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 1px;
    top: 50%;
    right: -25px;
    transition-duration: 0.3s;
}

.btn_outline.white::before {
    background: #fff;
}

.btn_outline.brown::before {
    background: #c9b5a5;
}

.btn_outline::after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 1px;
    top: 42%;
    right: -26px;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}

.btn_outline.white::after {
    background: #fff;
}

.btn_outline.white:hover {
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.btn_outline.brown::after {
    background: #c9b5a5;
}

.btn_outline.brown:hover {
    color: #c9b5a5;
    background: #fff;
}

.btn_outline:hover::before {
    width: 55px;
    right: -35px;
}

.btn_outline:hover::after {
    right: -36px;
}

.btn_underline {
    position: relative;
    text-decoration: none;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 5px 10px;
    padding-right: 40px;
    margin: 0 auto;
    transition-duration: 0.3s;
}

.btn_underline.brown {
    color: #c9b5a5;
    border-bottom: solid 1px #c9b5a5;
}

.btn_underline.purple {
    color: #767691;
    border-bottom: solid 1px #767691;
}

.btn_underline.gray {
    color: #9c9da8;
    border-bottom: solid 1px #9c9da8;
}

.btn_underline.white {
    color: #fff;
}

.btn_underline.noline {
    margin: 0;
}

.btn_underline::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 1px;
    top: 50%;
    right: 0px;
    transition-duration: 0.3s;
}

.btn_underline.brown::before {
    background: #c9b5a5;
}

.btn_underline.purple::before {
    background: #767691;
}

.btn_underline.gray::before {
    background: #9c9da8;
}

.btn_underline.white::before {
    background: #fff;
}

.btn_underline::after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 1px;
    top: 44%;
    right: 0px;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}

.btn_underline.brown::after {
    background: #c9b5a5;
}

.btn_underline.purple::after {
    background: #767691;
}

.btn_underline.gray::after {
    background: #9c9da8;
}

.btn_underline.white::after {
    background: #fff;
}

.btn_underline:hover {
    padding-right: 50px;
}

.btn_underline:hover::before {
    width: 35px;
}

.btn_underline.back {
    display: block;
    width: fit-content;
    margin-bottom: 40px;
    cursor: pointer;
}

.btn_group.solid {
    margin: 40px 0;
}

.btn_group .btn_solid {
    margin: 0 5px;
}

.btn_solid {
    position: relative;
    padding: 10px 15px;
    padding-right: 50px;
    border: solid 1px;
    color: #fff;
    text-decoration: none;
    transition-duration: 0.3s;
}

.btn_solid:hover {
    color: #fff;
    padding-right: 60px;
}

.btn_solid::before {
    content: "";
    display: block;
    position: absolute;
    width: 25px;
    height: 1px;
    top: 50%;
    right: 10px;
    transition-duration: 0.3s;
}

.btn_solid:hover::before {
    width: 35px;
}

.btn_solid::after {
    content: "";
    display: block;
    position: absolute;
    width: 6px;
    height: 1px;
    top: 44%;
    right: 10px;
    transform: rotate(45deg);
    transition-duration: 0.3s;
}

.btn_solid.purple {
    background: #767691;
    border-color: #767691;
}

.btn_solid.gray {
    color: #9c9da8;
    border-color: #9c9da8;
}

.btn_solid.purple::before {
    background: #fff;
}

.btn_solid.purple::after {
    background: #fff;
}

.btn_solid.gray::before {
    background: #9c9da8;
}

.btn_solid.gray::after {
    background: #9c9da8;
}

/* 導覽列 */

.navbar_as {
    padding: 25px 0;
    background: rgb(255, 255, 255);
    background: linear-gradient( 0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.7) 30%, rgba(255, 255, 255, 0.9) 100%);
}

.nav-wrapper {
    flex: 1 0 auto;
    display: flex !important;
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav {
    flex: 1 1 auto;
    justify-content: center;
}

.navbar-light .navbar-nav .nav-link {
    font-size: 15px;
    color: #707179;
    padding-left: 25px;
    padding-right: 25px;
}

.navbar_as .dropdown-menu {
    border: none;
    border-top: solid 3px #c9b5a5;
    border-bottom: solid 3px #c9b5a5;
    border-radius: 0;
    background: rgba(255, 255, 255, 0.9);
    font-size: 15px;
}

.navbar_as .dropdown-item {
    color: #707179;
    padding: 8px 20px;
}

.navbar_as .dropdown-item:focus, .dropdown-item:hover {
    background: #f1f1f4;
}

.navbar_as .dropdown-submenu {
    list-style: none;
    padding: 0;
}

.navbar_as .dropdown-submenu .dropdown-item {
    padding: 8px 30px;
    color: #a18875;
}

.action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
}

.action .divider {
    margin: 0 0.75rem;
}

.action .nav-link {
    padding: 0;
    color: #707179;
    font-size: 15px;
}

.action .nav-link.border {
    margin-left: 1rem;
    padding: 4px 8px;
    border: 1px solid #707179;
    border-radius: 3px;
}

.action .nav-link.border:hover {
    color: #fff;
    background-color: #707179;
}

.action .nav-link>i {
    color: #9c9da8;
}

.action .nav-link.border-r {
    border-right: 2px solid #707179;
}

/* footer */

footer {
    background-image: url(../image/footer-1.png), url(../image/footer-2.png), linear-gradient(#c9b5a5, #c9b5a5);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
    padding-top: 50px;
    padding-bottom: 16px;
}

footer * {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    list-style: none;
}

footer a {
    transition-duration: 0.3s;
}

footer a:hover {
    color: #fff;
    opacity: 0.8;
}

.footer_content {
    display: flex;
    margin-top: 40px;
}

.footer_nav {
    display: flex;
    width: 50%;
    margin: 0;
    padding: 0;
}

.footer_nav li {
    margin-right: 30px;
}

.footer_nav li a {
    display: block;
    margin-bottom: 5px;
}

.footer_info {
    width: 50%;
    line-height: 1.7;
    margin: 0;
    padding: 0;
}

.footer_info li {
    margin-bottom: 5px;
}

.footer_info li.break_icon {
    display: flex;
}

.footer_info i {
    font-size: 14px;
    margin-right: 10px;
}

.footer_info .break_icon i {
    margin-top: 5px;
}

.footer_info .location {
    display: inline-block;
}

.footer_info .location a {
    display: block;
}

footer .social_media a+a {
    margin-left: 10px;
}

footer .social_media i {
    font-size: 22px;
}

hr.footer {
    margin-top: 5px;
    background: #fff;
    opacity: 0.3;
}

footer .copyright {
    font-size: 14px;
    text-align: center;
}

/* Go Top */

.fixed_block {
    position: fixed;
    bottom: 90px;
    right: 24px;
    z-index: 10;
}

.fixed_block .fixed_box {
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 5px 15px rgb(0 0 0 / 10%);
    text-align: center;
}

#goTop {
    position: relative;
    font-size: 14px;
    padding-right: 15px;
    color: #707179;
    letter-spacing: 1px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    cursor: pointer;
    border: solid 1px #fff;
    transition-duration: 0.3s;
    opacity: 0;
}

#goTop.show {
    opacity: 1;
}

#goTop::before {
    content: "";
    display: block;
    position: absolute;
    right: 35px;
    bottom: 10px;
    width: 1px;
    height: 60px;
    background: #a18875;
    transition-duration: 0.3s;
}

#goTop::after {
    content: "";
    display: block;
    position: absolute;
    right: 32px;
    bottom: 63px;
    width: 1px;
    height: 8px;
    background: #a18875;
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}

#goTop:hover {
    border: solid 1px rgba(241, 241, 244, 1);
}

#goTop:hover::before {
    height: 70px;
}

#goTop:hover::after {
    bottom: 73px;
}

/* banner */

.header_banner {
    padding-top: 150px;
    padding-bottom: 35px;
    background-position: center;
}

.header_banner * {
    color: #fff;
    font-weight: 300;
    letter-spacing: 1px;
}

.header_banner h1 {
    font-size: 28px;
    text-shadow: 0 0 20px #3e3e3e;
}

.header_banner h1 span {
    display: block;
    font-size: 20px;
    margin-top: 5px;
}

.header_banner h1 span::before {
    content: "";
    display: inline-block;
    width: 4px;
    height: 15px;
    background: #fff;
    margin-right: 8px;
}

/* 麵包屑 */

.breadcrumbs {
    background: #f1f1f4;
}

.breadcrumbs ol {
    margin: 0;
    padding: 10px 0;
}

.breadcrumbs li {
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 1px;
}

.breadcrumbs li a {
    color: #707179;
}

/* 單元選單 */

.menu_block {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 40px 0;
}

.menu_box {
    border: solid 1px #c9b5a5;
    margin: 10px;
}

.menu_box a {
    display: inline-block;
    color: #c9b5a5;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
    padding: 10px 20px;
    transition-duration: 0.3s;
}

.menu_box a:hover, .menu_box a.router-link-active {
    background: #c9b5a5;
    color: #fff;
}

/* 搜尋欄 */

.search_box {
    position: relative;
}

.search_box.side {
    display: flex;
    justify-content: flex-end;
}

.search_input {
    border: none;
    border-bottom: solid 1px #9c9da8;
    padding: 5px;
    width: 250px;
}

.search_input:focus {
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(201 181 165 / 25%);
}

.search_btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    border: none;
    cursor: pointer;
}

.search_btn i {
    color: #9c9da8;
}

/* 文章頁 */

.flex_container {
    display: flex;
}

/* 主要區塊 */

.main_side {
    margin-top: 50px;
    width: 100%;
}

/* 右側區塊 */

.sub_side {
    margin-top: 50px;
    margin-left: 30px;
    max-width: 250px;
}

.subside_block {
    position: relative;
    border: solid 1px rgb(156 157 168 /0.2);
    margin-top: 50px;
    padding: 25px;
}

.subside_block:last-child {
    margin-bottom: 50px;
}

.subside_block h2 {
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    background: #fff;
    padding: 0 10px;
    left: 50%;
    top: -10px;
    transform: translateX(-50%);
}

.subside_block.type .subside_box {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

.subside_block.rank .subside_box {
    padding: 0;
    margin: 0;
}

.subside_block.rank .subside_box li {
    position: relative;
    list-style: none;
    padding-left: 40px;
}

.subside_block.rank .subside_box li::before {
    content: "0" counter(list-item);
    position: absolute;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    color: #c9b5a5;
    font-size: 22px;
    font-weight: 500;
}

.subside_block .subside_box li {
    border-bottom: solid 3px #f1f1f4;
    padding: 10px;
    font-weight: 300;
    box-sizing: border-box;
}

.subside_block .subside_box li a {
    display: block;
    color: #707179;
    text-decoration: none;
    transition-duration: 0.3s;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.subside_block .subside_box li:hover a {
    opacity: 0.8;
}

/* 文章內容 */

.content_center {
    padding: 40px;
    border-top: solid 3px #9c9da8;
    border-bottom: solid 3px #9c9da8;
    box-shadow: 0 0 20px rgba(118, 118, 145, 0.2);
    margin-bottom: 40px;
}

.arti_title_block h3 {
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

.arti_title_block h4 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 1px;
    line-height: 1.5;
    text-align: center;
}

.arti_title_block hr {
    opacity: 0.2;
}

.arti_subtitle * {
    color: #767691;
}

.arti_subtitle {
    position: relative;
    width: fit-content;
    margin: 10px auto 40px;
    text-align: center;
    font-weight: 300;
    letter-spacing: 1px;
}

.arti_subtitle::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background: #9c9da8;
}

.arti_subtitle::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    width: 2px;
    height: 16px;
    background: #9c9da8;
}

.arti_subtitle .type {
    display: inline-block;
}

.arti_subtitle .deco {
    display: inline-block;
}

.arti_subtitle .date {
    display: inline-block;
    font-size: 18px;
}

.arti_editor {
    font-weight: 300;
    line-height: 1.7;
    color: #707179;
}

.arti_editor * {
    font-family: "Noto Sans TC", "微軟正黑體", sans-serif;
    color: unset;
}

.arti_editor figure.image {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    text-align: center;
}

.arti_editor img {
    max-width: 100% !important;
    height: auto !important;
    margin: 0 auto;
    text-align: center;
}

.arti_editor h4 {
    font-size: 18px;
    color: #767691;
    line-height: 1.5;
    border-left: solid 3px #767691;
    padding-left: 10px;
    margin: 15px 0;
}

.arti_editor b {
    font-weight: 500;
}

.arti_editor li {
    margin-bottom: 5px;
}

.arti_editor hr {
    margin: 30px 0;
}

/* 側選單 */

.blog_container {
    display: flex;
}

.blog_container .sidebar {
    width: 20%;
    margin-right: 80px;
    margin-bottom: 20px;
}

.blog_container .content_center {
    width: 80%;
}

.online_container {
    display: flex;
}

.online_container .sidebar {
    width: calc(20% + 40px);
    margin-right: 80px;
    margin-bottom: 20px;
}

.online_container .content_center {
    width: calc(80% - 40px);
}

.sidebar * {
    color: #707179;
}

.sidebar .accordion-header {
    border-bottom: 3px solid #f1f1f4;
}

.sidebar .accordion-body {
    padding: 10px 0;
    font-weight: 400;
}

.sidebar ul {
    margin: 0;
    padding-left: 20px;
}

.sidebar li {
    position: relative;
    list-style: none;
    padding: 10px 0;
    border-bottom: solid 1px #f1f1f4;
}

.sidebar .sidebar_wrapper>.sidebar_list:last-of-type {
    border-bottom-color: transparent;
}

.sidebar li a {
    display: block;
    text-decoration: none;
    letter-spacing: 1px;
}

.sidebar li:hover a {
    color: #707179;
}

.sidebar .sidebar_list .accordion-button {
    padding: 0;
}

.sidebar a::before {
    content: "";
    position: absolute;
    display: block;
    top: 50%;
    left: -20px;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
    border-radius: 100%;
    background: #9c9da8;
    opacity: 0.3;
    transition-duration: 0.3s;
}

.sidebar a:hover::before, .sidebar a.router-link-active::before {
    opacity: 1;
}

.sidebar .accordion-button {
    padding: 10px 0;
    border: none;
}

.sidebar .accordion-button:not(.collapsed) {
    background-color: transparent;
    color: #707179;
}

.sidebar .accordion-collapse {
    border: none;
}

.sidebar .accordion-button::after {
    content: "-";
    background: none;
}

.sidebar .accordion-button:not(.collapsed)::after {
    content: "+";
    transform: none;
}

.btn_sidebar {
    display: none;
    padding: 10px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    background: #9c9da8;
    color: #fff;
    font-weight: 300;
}

.btn_sidebar:hover {
    color: #fff;
}

.btn_sidebar i {
    margin-left: 10px;
    color: #fff;
    transition-duration: 0.3s;
}

.btn_sidebar.collapsed i {
    transform: rotate(180deg);
}

/* 即將上線 */

.coming_soon {
    margin-top: 140px;
    margin-bottom: 190px;
    text-align: center;
}

.coming_soon .title {
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 3px;
    margin-top: 30px;
    margin-bottom: 15px;
}

.coming_soon .remark {
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 35px;
}

/* 錯誤頁面 */

.coming_soon .title span {
    display: block;
    font-size: 24px;
}

@media screen and (max-width: 1200px) {
    /* 導覽列 */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-left: 15px;
        padding-right: 15px;
    }
    /* footer */
    .footer_content {
        flex-wrap: wrap;
    }
    .footer_nav {
        width: 100%;
    }
    .footer_info {
        width: 100%;
        margin: 20px 0 30px;
    }
    /* 側選單 */
    .blog_container .sidebar {
        margin-right: 40px;
    }
}

@media screen and (min-width: 992px) {
    /* 導覽列 */
    .navbar .nav-item .dropdown-menu {
        display: none;
    }
    .navbar .nav-item:hover .dropdown-menu {
        display: block;
        box-shadow: 0 0 20px rgb(0 0 0 / 10%);
    }
    .navbar .nav-item .dropdown-menu {
        margin-top: 0;
    }
    .navbar_as .nav-item+.nav-item::before {
        content: "/";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    .navbar_as .dropdown-toggle::after {
        content: none;
    }
}

@media screen and (max-width: 992px) {
    /* 導覽列 */
    .nav-wrapper {
        flex: 0 0 100%;
        overflow-y: scroll;
        position: relative;
    }
    .nav-wrapper.collapse:not(.show) {
        display: none !important;
    }
    .navbar_as .navbar-collapse {
        padding: 10px 0;
        padding-bottom: 48px;
        margin: 10px 0;
        background: rgba(255, 255, 255, 0.8);
        border-radius: 0.25rem;
        border: solid 1px rgba(0, 0, 0, 0.1);
        height: calc(100vh - 80px);
        overflow: auto;
    }
    .navbar_as .dropdown-menu {
        margin: 0 15px;
    }
    .navbar_as .dropdown-item {
        padding: 8px 10px;
    }
    .navbar_as .dropdown-submenu .dropdown-item {
        padding: 8px 20px;
    }
    .action {
        width: calc(100% - 2px);
        justify-content: center;
        padding: 8px;
        position: absolute;
        bottom: 10px;
        color: #fff;
        border-radius: 0 0 0.25rem 0.25rem;
        background: #f1f1f4;
    }
    /* 側選單 */
    .blog_container, .online_container {
        flex-wrap: wrap;
    }
    .blog_container .sidebar, .online_container .sidebar {
        width: 100%;
        margin-right: 0;
        margin-bottom: 30px;
    }
    .blog_container .content_center, .online_container .content_center {
        width: 100%;
    }
    /* 側選單 */
    .btn_sidebar {
        display: block;
    }
    /* 文章頁 */
    .flex_container {
        flex-wrap: wrap;
    }
    /* 右側區塊 */
    .sub_side {
        width: 100%;
        margin: 0;
        max-width: initial;
    }
    .search_input {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    /* 單元選單 */
    .menu_box {
        margin: 5px;
    }
    .menu_box a {
        padding: 5px;
        font-size: 14px;
    }
    /* 文章內容 */
    .arti_title_block h3 {
        font-size: 22px;
    }
}

@media screen and (max-width: 576px) {
    /* 通用樣式 */
    .btn_group.solid .btn_solid {
        display: block;
        margin-bottom: 10px;
    }
    /* 導覽列 */
    .navbar_as {
        padding: 15px 0;
    }
    /* footer */
    .footer_nav {
        flex-wrap: wrap;
    }
    .footer_nav li {
        margin-bottom: 10px;
    }
    /* 文章內容 */
    .content_center {
        padding: 20px;
    }
}